@page
@using CateringSystem

@model CategoryModel
@{
    ViewData["Title"] = Model.Category.Name;
}

<div class="text-center">
    <h1 class="display-4">@this.Model.Category.Name</h1>
    <p>Below is a list of available products included in this category.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Product product in this.Model.Category.Products)
        {
            <tr>
                <td>@Html.DisplayFor(model => product.Name)</td>
                <td>@Html.DisplayFor(model => product.Description)</td>
                <td><img src="@product.ImageUri" width="100" height="85" /></td>
                <td>@Html.DisplayFor(model => product.Price)</td>
                <td><a class="text-dark" asp-area="" asp-page="/AddToCart" asp-route-productId="@product.ID" asp-route-redir="Category?id=@this.Model.Category.ID">Add to cart</a></td>
            </tr>
        }
    </tbody>
</table>